# Kaggle Competition Notebook

In [81]:
import pandas as pd
import matplotlib.pyplot as plt

In [82]:
data =  pd.read_csv("train.csv")
test= pd.read_csv("test.csv")

In [83]:
pd.set_option('display.max_columns', 999)
data.head()

,Id,fwd,lag_d,noc,gy,ay,noi,UMC,firm,MSA,tbm,tbru,PAG,npr,fpr,FT,FS
0,1,15,669,21,1998,1996,2,707,280070,261,13,0.60357,5366339.923,6,0,2,225.0
1,2,8,301,18,1990,1989,2,348,789656,538,1,0.00000,4719510.000,1,0,2,310.0
2,3,75,1016,23,1997,1994,5,725,499570,13,6,0.61112,4893738.000,0,0,2,3.0
3,4,50,929,32,1997,1994,3,315,654319,553,4,0.37500,4817136.250,0,5,3,64.0
4,5,18,1233,20,1999,1996,2,710,551495,261,2,0.00000,5135114.000,0,0,2,14.0

In [84]:
test.head()

,Id,lag_d,noc,gy,ay,noi,UMC,firm,MSA,tbm,tbru,PAG,npr,fpr,FT,FS
0,10001,895,9,1993,1991,2,340,441575,553,6,0.77781,4527382.167,0,0,3,2.0
1,10002,1187,17,2001,1997,1,714,280070,213,12,0.72224,5558154.000,0,0,2,240.0
2,10003,837,46,1997,1995,4,370,795471,302,22,0.65705,4921162.000,1,0,2,72.0
3,10004,1110,25,2000,1997,1,709,864032,206,4,0.62500,5670063.500,0,0,2,113.0
4,10005,858,2,1982,1979,3,715,280070,302,4,0.37500,4027948.000,0,0,2,325.0

In [85]:
data.shape

(10000, 17)

In [86]:
test.shape

(14000, 16)

In [87]:
data.describe()

,Id,fwd,lag_d,noc,gy,ay,noi,UMC,firm,MSA,tbm,tbru,PAG,npr,fpr,FT,FS
count,10000.00000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,5910.000000
mean,5000.50000,27.60070,922.361200,18.983300,1995.225000,1992.682400,2.470200,569.438500,422177.515600,273.486600,11.196000,0.495767,4.871120e+06,3.144600,1.069600,2.224100,129.144162
std,2886.89568,34.78475,358.532159,15.854008,4.592699,4.520727,1.819957,180.249914,258237.559806,187.047603,14.839892,0.266452,6.936701e+05,13.661287,2.968676,0.659183,123.668584
min,1.00000,0.00000,0.000000,1.000000,1980.000000,1979.000000,1.000000,29.000000,0.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000
25%,2500.75000,8.00000,692.000000,9.000000,1993.000000,1990.000000,1.000000,370.000000,250060.000000,142.000000,5.000000,0.345000,4.599728e+06,0.000000,0.000000,2.000000,19.000000
50%,5000.50000,17.00000,889.000000,16.000000,1997.000000,1994.000000,2.000000,704.000000,386735.000000,257.000000,8.000000,0.561750,4.973963e+06,1.000000,0.000000,2.000000,94.000000
75%,7500.25000,34.00000,1096.000000,24.000000,1999.000000,1996.000000,3.000000,711.000000,654319.000000,526.000000,13.000000,0.707505,5.287802e+06,2.000000,1.000000,3.000000,225.000000
max,10000.00000,522.00000,3848.000000,236.000000,2004.000000,1997.000000,23.000000,800.000000,864063.000000,602.000000,343.000000,0.933710,5.974557e+06,394.000000,85.000000,7.000000,854.000000

In [88]:
data.head()

,Id,fwd,lag_d,noc,gy,ay,noi,UMC,firm,MSA,tbm,tbru,PAG,npr,fpr,FT,FS
0,1,15,669,21,1998,1996,2,707,280070,261,13,0.60357,5366339.923,6,0,2,225.0
1,2,8,301,18,1990,1989,2,348,789656,538,1,0.00000,4719510.000,1,0,2,310.0
2,3,75,1016,23,1997,1994,5,725,499570,13,6,0.61112,4893738.000,0,0,2,3.0
3,4,50,929,32,1997,1994,3,315,654319,553,4,0.37500,4817136.250,0,5,3,64.0
4,5,18,1233,20,1999,1996,2,710,551495,261,2,0.00000,5135114.000,0,0,2,14.0

In [89]:
X_train = data.drop(['fwd','Id'], axis=1)
y_train = data['fwd']

X_train.shape, y_train.shape

((10000, 15), (10000,))

In [90]:
X_test=test.drop(['Id'], axis=1)
X_test.shape

(14000, 15)

In [91]:
categorical=['gy','ay','firm','UMC','MSA','FT']

In [92]:
continuous=list(set(list(X_train.columns))-set(categorical))

In [93]:
X_train[categorical] = X_train[categorical].astype('O')
X_test[categorical] = X_test[categorical].astype('O')

In [94]:
# import relevant modules for feature engineering
from sklearn.pipeline import Pipeline
from feature_engine import missing_data_imputers as mdi
from feature_engine import categorical_encoders as ce
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from feature_engine import missing_data_imputers as mdi
from feature_engine import categorical_encoders as ce
from feature_engine.variable_transformers import YeoJohnsonTransformer
from sklearn.preprocessing import StandardScaler
from feature_engine.discretisers import DecisionTreeDiscretiser
from feature_engine.variable_transformers import LogTransformer
from feature_engine import discretisers as dsc
from feature_engine.categorical_encoders import OneHotCategoricalEncoder
from feature_engine.variable_transformers import PowerTransformer
from feature_engine.discretisers import EqualFrequencyDiscretiser
from sklearn.preprocessing import RobustScaler
from feature_engine.categorical_encoders import CountFrequencyCategoricalEncoder

patent_preprocess = Pipeline([
    ('imputer_num', mdi.MeanMedianImputer(imputation_method='median',
                                          variables=['FS'])),
    # categorical encoding 
     ('rare_label_enc', ce.RareLabelCategoricalEncoder(
         tol=0.01,n_categories=6, variables=categorical)),
    ('categorical_enc', ce.OneHotCategoricalEncoder(variables = categorical)),
     
])

In [95]:
patent_pipe = Pipeline([
 ('imputer_num', mdi.MeanMedianImputer(imputation_method='mean',variables=['FS'])),
 ('rec', PowerTransformer(variables=continuous)),
 ('desc', EqualFrequencyDiscretiser(q=50, variables = continuous)),
 ('onehot',OneHotCategoricalEncoder(variables=['gy','ay','UMC','MSA','firm','FT'],top_categories=None, drop_last=True)),
 ('standardscaler',StandardScaler(with_mean=True, with_std=False)),
 ('robustscaler', RobustScaler(with_centering=False,
                             with_scaling=True,
                             quantile_range=(0, 100)))
])

In [96]:
patent_pipe.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('imputer_num',
                 MeanMedianImputer(imputation_method='mean', variables=['FS'])),
                ('rec',
                 PowerTransformer(exp=0.5,
                                  variables=['noi', 'tbru', 'PAG', 'tbm',
                                             'lag_d', 'noc', 'npr', 'fpr',
                                             'FS'])),
                ('desc',
                 EqualFrequencyDiscretiser(q=50, return_object=False,
                                           variables=['noi', 'tbru', 'PAG',
                                                      'tbm', 'lag_d', 'noc',
                                                      'npr', 'fpr', 'FS'])),
                ('onehot',
                 OneHotCategoricalEncoder(drop_last=True, top_categories=None,
                                          variables=['gy', 'ay', 'UMC', 'MSA',
                                                     'firm', 'FT'])),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=False)),
                ('robustscaler',
                 RobustScaler(copy=True, quantile_range=(0, 100),
                              with_centering=False, with_scaling=True))],
         verbose=False)

In [97]:
# Apply Transformations
X_train=patent_pipe.transform(X_train)
X_test=patent_pipe.transform(X_test)

In [98]:
X_train.shape

(10000, 2756)

In [99]:
X_test.shape

(14000, 2756)

In [100]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
ridge = Ridge()
    
#define a list of parameters
param_ridge = {'alpha': [0.001,0.1,1,10],'fit_intercept':[True,False],
               'normalize':[True,False], 'copy_X':[True, False], 'max_iter':[10,100,500,1000]}

grid_ridge2 = GridSearchCV(ridge, param_ridge, cv=5, return_train_score = True)
grid_ridge2.fit(X_train, y_train)
print()
# print co-eff

print("Ridge.coef_:", grid_ridge2.best_estimator_.coef_)
print("Ridge.intercept_:", grid_ridge2.best_estimator_.intercept_)

# Check test data set performance
print("Best parameters: {}".format(grid_ridge2.best_params_))
print("Best cross-validation score: {:.2f}".format(grid_ridge2.best_score_))

Ridge.coef_: [-4.93907954 13.89400579 10.11024506 ...  0.05056628 -3.39104857
  5.73134519]
Ridge.intercept_: 27.6007
Best parameters: {'alpha': 10, 'copy_X': True, 'fit_intercept': True, 'max_iter': 10, 'normalize': False}
Best cross-validation score: 0.18

In [101]:
print("Score of the Model:{}".format(grid_ridge2.score(X_train,y_train)))

Score of the Model:0.28473830143512435

In [102]:
test_data_labels = grid_ridge.predict(X_test)

In [ ]:
# Create predictions to be submitted!
pd.DataFrame({'Id': test.Id, 'fwd': test_data_labels}).to_csv('solution_base2.csv', index =False)  
print("Done :D")